@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-MediumItalic.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-MediumItalic.svg#HelveticaNeueCyr-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

body{
    background: #f5f5f5;
    margin:0;
	padding: 0;
	font-family: "Helvetica", sans-serif;
	font-size: 15px;
    font-weight: 400;
	line-height:1.4;
    letter-spacing: 0.04em;
    color: rgb(0, 0, 0);
	min-width: 360px;
}

button,input,select,textarea{
    font-family:"Helvetica"; 
    font-size: 17px;
}

textarea, input[type="text"], input[type="button"], input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

p {
    font-size: 17px;
    letter-spacing: .5px;
    line-height: 1.5;
    margin: 20px 0;
}

.wrapper {
    max-width:1200px;
    padding:0 40px;
    margin:0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    display:inline-block;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-align: center;
    letter-spacing: 1.2px;
	border: none;
    outline: none;
}

.button_green {
    background: #008055;
    color: #fff;
    font: 500 14px Helvetica;
    text-transform: uppercase;
    padding: 20px 30px 19px;
}

.button_green:hover{
    background: #006140;
}

.button_icon {
	border: 2px solid #000;
    background-color: #fff;
    font: 500 16px Helvetica;
    color: #000;
    padding: 13px 15px 13px 55px;
    position: relative;
}

.button_icon::before {
	content: "";
    background: url(../images/sprites.svg) no-repeat -279px -9px;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 10px;
    top: 5px;
}

.button_icon:hover{
	background: #e6e6e6;
}