/*header*/

header {
    box-sizing: border-box;
    box-shadow: 0px 0px 6px 0px rgba(35, 31, 32, 0.4);
    position: relative;
    margin-bottom: 50px;
}

.header1 {
    background: url(../images/header-bg.jpg) no-repeat center;
    padding: 20px 0;
}

.header1 .wrapper {
    position: relative;   
}

.logo {
    display: block;
    background: url(../images/logo.svg) no-repeat center;
    width: 190px;
    height: 260px;
    position: absolute;
    top: -20px;
    left: 35px;
    z-index: 1;
}

.institute__name {
    font: 700 24px "Helvetica";
    line-height: 1.4;
    margin: auto 0;
    padding-left: 225px;
    max-width: 330px;
}

.contacts__column {
    display: inline-block;
    margin: auto 0;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: .3px;
    max-width: 250px;
}

.contacts__line {
    background: rgb(0, 0, 0);
    width: 2px;
    height: 123px;
    margin: auto 35px;
}

.contacts__number {
    display: block;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
}

.header2 {
    background: #000000;
}

.menu {
    display: block;
    margin: 0;
    padding: 0 0 0 225px;
    overflow: hidden;
}

.menu li {
    list-style: none;
    float: left;
    position: relative;
}

.menu a {
    display: inline-block;   
    font: 500 15px "Helvetica";
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

.menu>li:first-child a {
    padding: 20px 20px 20px 0;
}

.sub-menu {
    display: none;
    background: #07006b;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 1001;
}

.sub-menu.active {
    display: block;
}

.sub-menu li {
    position: relative;
}

.sub-menu li a {
    position: relative;
    font-size: 18px;;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
