<div class="wrapper">
    <div class="cards  home__cards flex">
        <a href="#" class="cards__card card">
            <div class="card__inner flex_between">
                <div>
                    <div class="card__caption">Экономика и бухгалтерский учет (по отраслям)</div>
                    <div class="card__details">На базе 11 классов</div> 
                </div>  
                <div class="card__button button button_icon">Читать подробнее</div>
                <div class="card__icon card__icon_economy">
                </div>
            </div>
        </a>
        <a href="#" class="cards__card card">
            <div class="card__inner flex_between">
                <div>
                    <div class="card__caption">Монтаж и эксплуатация оборудования и систем газоснабжения</div>
                    <div class="card__details">На базе 11 классов</div>
                </div>   
                <div class="card__button button button_icon">Читать подробнее</div>
                <div class="card__icon card__icon_gas"></div>
            </div>
        </a>
    </div>
</div>