<div class="wrapper">
    <div class="cards flex">
        <div class="card">
            <div class="card__inner">
                <div class="card__caption">Экономика и бухгалтерский учет (по отраслям)</div>
                <div class="flex_between">
                    <div>
                        <div class="card__details">На базе 11 классов</div>
                        <a href="#" class="button button_icon">Читать подробнее</a>
                    </div>
                    <div class="card__icon card__icon_economy"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__inner">
                <div class="card__caption">Монтаж и эксплуатация оборудования и систем газоснабжения</div>
                <div class="flex_between">
                    <div>
                        <div class="card__details">На базе 11 классов</div>
                        <a href="#" class="button button_icon">Читать подробнее</a>
                    </div>
                    <div class="card__icon card__icon_gas"></div>
                </div>
            </div>
        </div>
    </div>
</div>