<div class="wrapper">
    <div class="cards flex">
        <a href="#" class="card">
            <div class="card__inner">
                <div class="card__caption">Экономика и бухгалтерский учет (по отраслям)</div>
                <div class="flex_between">
                    <div class="card__column flex_between"> 
                        <div class="card__details">На базе 11 классов</div>   
                        <div class="card__button button button_icon">Читать подробнее</div>
                    </div>
                    <div class="card__icon card__icon_economy"></div>
                </div>
            </div>
        </a>
        <a href="#" class="card">
            <div class="card__inner">
                <div class="card__caption">Монтаж и эксплуатация оборудования и систем газоснабжения</div>
                <div class="flex_between">
                    <div class="card__column flex_between"> 
                        <div class="card__details">На базе 11 классов</div>   
                        <div class="card__button button button_icon">Читать подробнее</div>
                    </div>
                    <div class="card__icon card__icon_gas"></div>
                </div>
            </div>
        </a>
    </div>
</div>