<footer>
    <div class="footer1">
        <div class="wrapper flex_between">
            <div class="footer1__copyright">2018 &copy; Арский гуманитарно-технический техникум</div>
            <div class="contacts flex">
                <div class="contacts__column">
                    <div class="contacts__address">422000, респ. Татарстан, г.&nbsp;Арск, ул.Комсомольская, дом 10а, (помещение 1Н)</div>                   
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__column">
                    <div class="contacts__caption">Приемная коммисия:</div>
                    <a class="contacts__number" href="tel:88436699999">8 (84366) 9-99-99</a> 
                    <a class="contacts__number" href="tel:88436699999">8 (84366) 9-99-99</a> 
                </div>
           </div>
        </div>
    </div>
    <div class="footer2">
        <div class="wrapper">
            <nav class="navbar">
                <ul class="menu">
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="#">Об организации</a>
                    </li>
                    <li>
                        <a href="#">Обучение газу</a>
                    </li>
                    <li>
                        <a href="#">Обучение бухгалтерии</a>
                    </li>
                    <li>
                       <a href="#">Поступающим</a>
                    </li>
                    <li>
                       <a href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>