<header>
    <div class="header1">
        <div class="wrapper flex_between">
            <div class="institute flex">
                <a class="logo" href="/"></a>
                <div class="institute__name">Арский<br> гуманитарно-технический техникум</div>
            </div>
            <div class="contacts flex">
                <div class="contacts__column">
                    <div class="contacts__address">422000, респ. Татарстан, г.Арск, ул. Комсомольская, дом 10а, (помещение 1Н)</div>                   
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__column">
                    <div class="contacts__caption">Приемная коммисия:</div>
                    <a class="contacts__number" href="tel:88436699999">8 (84366) 9-99-99</a> 
                    <a class="contacts__number" href="tel:88436699999">8 (84366) 9-99-99</a> 
                </div>
           </div>
        </div>
    </div>
    <div class="header2">
        <div class="wrapper">
            <nav class="navbar">
                <ul class="menu">
                    <li>
                        <a href="#">Об организации</a>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Обучение газу</a>
                        <ul class="sub-menu">
                            <li><a href="#">Обучение1</a></li>
                            <li><a href="#">Обучение2</a></li>
                            <li><a href="#">Обуччение3</a></li> 
                        </ul>
                    </li>
                    <li>
                        <a href="#">Обучение бухгалтерии</a>
                    </li>
                    <li>
                       <a href="#">Поступающим</a>
                    </li>
                    <li>
                       <a href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="burger">
                <span></span>
            </div>
        </div>
    </div>
</header>