@import "parts/jquery.fancybox.min.css";
@import "parts/header.less";
@import "parts/slider.less";
@import "parts/cards.less";

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr-MediumItalic.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-MediumItalic.svg#HelveticaNeueCyr-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

body{
    background: #f5f5f5;
    margin:0;
	padding: 0;
	font-family: "Helvetica", sans-serif;
	font-size: 15px;
    font-weight: 400;
	line-height:1.4;
    letter-spacing: 0.04em;
    color: rgb(0, 0, 0);
	min-width: 360px;
}

button,input,select,textarea{
    font-family:"Helvetica"; 
    font-size: 17px;
}

p {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.35;
    margin: 22px 0;
}

.wrapper {
    max-width:1200px;
    padding:0 40px;
    margin:0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-block {
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(35, 31, 32, 0.25);
}

.info {
    box-sizing: border-box;
    width: 50%;
    padding: 30px 0 30px 50px;
}

.caption {
    font: 700 30px "Helvetica";
}

.button {
    display:inline-block;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-align: center;
    padding: 0 20px;
}

.button_green {
    background: rgba(0, 79, 53, 0);
    border: 2px solid rgb(0, 128, 85);
    max-width: 343px;
    height: 58px;
    font: 500 16px/58px "Helvetica";
    color: rgb(0, 78, 52);
    text-transform: uppercase;
}

.caption-small {
    font: 700 28px "Helvetica";
    text-align: center;
}

.photos {
    margin: 0 -25px;
}

.photos__photo {
    box-sizing: border-box;
    width: 33.3333%;
    padding: 0 25px;
}

.photos__photo-1 {
    background: url(../images/history-1.jpg) no-repeat center;
}

.photos__photo-2 {
    background: url(../images/history-2.jpg) no-repeat center;
}

.photos__photo-3 {
    background: url(../images/history-3.jpg) no-repeat center;
}

.footer1 {
    background:#d7d7d7;
}

.footer2 {
    background:#000000;
    overflow: hidden;
}






/*media*/

@media screen and (max-width: 1500px) {
	
}

@media screen and (max-width: 1366px) {
    
}

@media screen and (max-width: 1279px) {
    .wrapper {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 639px) {
    
}