@import "parts/jquery.fancybox.min.css";
@import "parts/base-blocks.less";
@import "parts/header.less";
@import "parts/slider.less";
@import "parts/cards.less";
@import "parts/article.less";
@import "parts/contacts.less";
div.wpcf7-response-output{
display:none!important;
}
.slider-block {
    width: 100%;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(35, 31, 32, 0.25);
}

.slider-block__button{
	margin-top: 15px;
}

.text {
    box-sizing: border-box;
    width: 52.5%;
    padding: 40px 55px 50px;
}

.caption {
    font: 700 28px "Helvetica";
    line-height: 1.35;
    letter-spacing: 1px;
}

.info-block {
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(35, 31, 32, 0.25);
    padding: 45px 60px 50px;
}

.info-block__caption-small {
    text-align: center;
}

.caption-small {
    font: 700 28px "Helvetica";
}

.photos {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -25px;
}

.photos__photo {
    box-sizing: border-box;
    width: 33.3333%;
    padding: 0 25px;
}

.photos__photo img {
    width: 100%;
}

.info-block__second-part p:last-child{ 
    margin-bottom: 0; 
}

.info-block__button {
    display: block;
    margin: 30px auto 0;
    width: calc(33.3333% - 35px);
}

.info-block .button.more-info_active {
    display: none;
}

footer {
    margin-top: 90px;
}

.footer1 {
    background:#d7d7d7;
    padding: 18px 0 14px;
}

.footer1 .wrapper {
    flex-wrap: nowrap;
}

.footer1__copyright {
    font-size: 18px;
    margin: 20px 60px 0 0;
}

.footer1__contacts {
    flex-shrink: 0;
}

.footer2 {
    background:#000000;
    overflow: hidden;
}

.footer2 .menu {
    padding: 0;
    height: 50px;
	margin-left: -15px;
}

.footer2 .menu>li a {
    line-height: 50px;
    padding: 0 15px;
} 

/*media*/
 

@media screen and (max-width: 1279px) {
    .wrapper {
        padding: 0 15px;
    }
	
	.photos__photo{
		padding: 0 15px;
	}
	
	.photos{
		margin: 0 -15px;
	}
	
	.info-block__button{
		width: calc(33.3333% - 20px);
	}
	
	footer {
		margin-top: 60px;
	}
	
}

@media screen and (max-width: 1023px) {   
    .slider-block {
        flex-direction: column;
    }
    
    .text {
        width: 100%;
		padding: 35px 40px 40px;
    }
    
    .cards__card {
        width: 100%;
        margin-bottom: 20px;
    }
    
	.info-block{
		padding: 35px 40px 40px;
	}
	
	.info-block__button {
		width: 290px;
	}
	
    .photos {
        flex-wrap: wrap;
    }
    
    .photos__photo img {
        max-width: 325px;
    }
    
    .footer1 .wrapper {
        flex-direction: column;
        align-items: center;
    }
    
    .footer1__copyright {
        margin: 20px 0;
        text-align: center;
    }
    
    .footer1__contacts {
        text-align: center;
    }
    
    .footer1 .contacts__column {
        margin: 10px 0;
    }
    
    .footer2 {
        display: none;
    }
	
}

@media screen and (max-width: 767px) {
    
	p {
		font-size: 15px;
	}
	
    .info-block {
        padding: 35px 20px 40px;
    }
	
	.photos__photo {
		width: 100%;
		text-align: center; 
		margin: 5px 0;
	}
	
	.text { 
		padding: 25px 20px 30px;
	}
	
	.caption{
		font-size: 22px;
	}
	
	.caption-small{
		font-size: 22px;
	}
}

@media screen and (max-width: 639px) {
    .footer1__contacts {
        flex-direction: column;
    }
	
	.slider-block__button { 
		line-height: 1.4;
	}
}